.question_container {
	width: 100%;
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.question {
	width: 90%;
	padding: 1rem;
	margin: 1rem 1rem 0 1rem;
	font-size: 1rem;
	text-align: justify;
	border: 1px solid black;
}

.answers {
	width: 100%;
	margin: 1rem;
}

.answer {
	margin: 0 1rem 0.3rem;
	padding: 0.3rem;
	font-size: 1rem;
	text-align: justify;
	border: 3px solid black;
}

.buttons {
	width: 100%;
	position: fixed;
	bottom: 1rem;
	display: flex;
	justify-content: center;
}

button {
	margin: 0.5rem 0.5rem;
	padding: 0.2rem 0.5rem;
	height: 10vw;
	font-size: 1rem;
	font-weight: 700;
	border: 2px solid rgb(247, 167, 62);
	border-radius: 10px;
	background: rgb(247, 167, 62);
	transition: all 0.3s ease-in-out;
	color: #fff;
}

button:hover {
	background: #fff;
	color: rgb(247, 167, 62);
}

.correct-answer {
	border-color: green;
	background: rgb(85, 197, 85);
}

.incorrect-answer {
	border-color: red;
	background: rgb(243, 96, 96);
}
